<div style="width:100%">
    <div class="projectHead product">
        <div class="wrap">
            <div class="text left">
                <h1>Product 2 page</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et ligula accumsan, pharetra nibh nec, facilisis nulla. In pretium semper venenatis. In adipiscing augue elit, at venenatis enim suscipit a. Fusce vitae justo tristique, ultrices mi metus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et ligula accumsan, pharetra nibh nec, facilisis nulla. In pretium semper venenatis. In adipiscing augue elit, at venenatis enim suscipit a. Fusce vitae justo tristique, ultrices mi metus.</p>
                <a class="btn" href="javascript: void(0)">download the app</a>
            </div>
            <img class="picture right" src="images/element.png" />
            <div style="clear:both"></div>
        </div>
    </div>
    <ng-include src="'footer.html'"></ng-include>
</div>